{% if user.is_authenticated %}
<table>
    <tr>
        <td>
            <a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (logout)</a>
        </td>
        <td>
            <a class="nav-link" href="{% url 'accounts:myInfo' %}">my information</a>
        </td>
    </tr>
</table>
{% else %}
<table>
    <tr>
        <td>
            <a class="nav-link" href="{% url 'accounts:login' %}">login</a>
        </td>
        <td>
            <a class="nav-link" href="{% url 'accounts:signup' %}">signup</a>
        </td>
    </tr>
</table>
{% endif %}
