{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="wrapper" style="text-align: left;">
    <h1>Certificate phone number</h1>
    <form method="POST">
        {% csrf_token %}
        <table style="width:300px;">
            <tr>
                <td colspan="4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name"
                           value="{{ form.name.value|default_if_none:'' }}">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="socialSecurityNumberFront">SocialSecurityNumber</label>
                </td>
            </tr>
            <tr>
                <td style="width:100px">
                    <div class="col-sm-13"><input placeholder="840502" type="text" class="form-control" name="socialSecurityNumberFront" id="socialSecurityNumberFront"
                                                       value="{{ form.socialSecurityNumberFront.value|default_if_none:'' }}"></div>
                </td>
                <td style="width:20px">
                    -
                </td>
                <td style="width:40px">
                    <div class="col-sm-13"><input placeholder="1" type="text" class="form-control" name="gender" id="gender"
                                                 value="{{ form.gender.value|default_if_none:'' }}"></div>
                </td>
                <td style="width:130px">
                    ••••••
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="phone">Phone number</label>
                    <input type="text" class="form-control" name="phone" id="phone"
                               value="{{ form.phone.value|default_if_none:'' }}">
                </td>
            </tr>
            <tr><td colspan="4">
                <input type="submit" class="btn btn-primary" name="submit" value="submit"/>
            </td></tr>
        </table>
    </form>
</div>
{% endblock %}