{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="wrapper" style="text-align: left;">
    <h1>Certificate phone number</h1>
    <form method="POST">
        {% csrf_token %}
        {% if request.method == 'POST' %}
            {% include 'formErrors.html' %}
        {% endif %}
        <table style="width:300px;">
            <tr>
                <td>
                    <label for="password1">Password</label>
                    <input type="text" class="form-control" name="password1" id="password1"
                           value="{{ form.password1.value|default_if_none:'' }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password2">Password confirm</label>
                    <input type="text" class="form-control" name="password2" id="password2"
                           value="{{ form.password2.value|default_if_none:'' }}">
                </td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" name="submit" value="Change password"/>
    </form>
</div>
{% endblock %}