{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    <table style="width:500px;">
        <tr>
            <td colspan="2">
                {% bootstrap_form form %}
            </td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-primary" value="login"/></td>
            <td style="width:430px"><input type="button" class="btn btn-primary" onclick="location.href='{% url 'accounts:forgotPassword' %}'" value="forgot password"/></td>
        </tr>
    </table>
</form>
{% endblock %}